* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/* Layout */

header {
    width: 100%;
    height: 70px;
    background-color: #0084FD;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-50 {
    display: flex;
    width: 50%;
}

.col {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 0 auto;
    background-color: #B5DDFF;
    border-radius: 20px;
}

.content {
    text-align: center;
    margin: 20px;
}

/* Utility */

.flex-end {
    justify-content: flex-end;
}

.bg-white {
    background-color: white;
}

.color-black {
    color: black;
}

.color-grey {
    color: #5A6E7F;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.align-items-center {
    align-items: center;
}

.color-white {
    color: white;
}

.padding-horizontal {
    padding: 10px 75px;
}

.padding-15 {
    padding: 15px;
}

.padding-10 {
    padding: 10px;
}

.bg-white {
    background-color: white;
}

.bg-violet {
    background-color: #9792E4;
}

.bg-lightblue {
    background-color: #0084FD;
}

.color-lightblue {
    color: #0084FD;
}

.text-align-left {
    text-align: left;
}

/* Specs */

ul {
    display: none;
    list-style-type: none;
    color: inherit;
    align-items: center;
}

li {
    display: flex;
    padding: 5px;
    cursor: pointer;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    border-radius: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.phone {
    width: 300px;
}

h1 {
    margin-bottom: 30px;
}

p {
    margin-bottom: 30px;
    line-height: 2;
    font-size: 15px;
    padding: 0 55px;
}

/* Responsiveness */

/* Tablet */
@media screen and (min-width: 768px) { Tablet

}

/* Desktop */
@media screen and (min-width: 1200px) {
    .menu i {
        display: none;
    }
    
    ul {
        display: flex;
    }
}