* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */



/* Utility */



/* Specs */



/* Responsiveness */


/* Tablet */
@media screen and (min-width: 768px) { Tablet

}

/* Desktop */
@media screen and (min-width: 1200px) {
    
}