* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/* Layout */

header {
    width: 100%;
    height: 70px;
    background-color: #0084FD;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-50 {
    display: flex;
    width: 50%;
}

.col {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 0 auto;
    border-radius: 20px;
    position: relative;
}

.content {
    text-align: center;
    margin: 20px;
}

/* Utility */

.flex-end {
    justify-content: flex-end;
}

.bg-white {
    background-color: white;
}

.color-black {
    color: black;
}

.color-grey {
    color: #5A6E7F;
}

.margin-80 {
    margin: 80px 0;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-left-50 {
    margin-left: 50px;
}

.align-items-center {
    align-items: center;
}

.color-white {
    color: white;
}

.padding-horizontal {
    padding: 10px 75px;
}

.padding-horizontal-2 {
    padding: 0px 0px;
}

.padding-horizontal-3 {
    padding: 10px 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-15 {
    padding: 15px;
}

.padding-10 {
    padding: 10px;
}

.bg-white {
    background-color: white;
}

.bg-violet {
    background-color: #9792E4;
}

.bg-azul {
    background-color: #B5DDFF;
}

.bg-lightblue {
    background-color: #0084FD;
}

.color-lightblue {
    color: #0084FD;
}

.color-violet {
    color: #9792E4;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.font-size-50 {
    font-size: 50px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-20 {
    font-size: 20px;
}

.border-radius-100 {
    border-radius: 100px;
}

.border-radius-60 {
    border-radius: 60px;
}

.border-radius-20 {
    border-radius: 20px;
}

.line-height-1 {
    line-height: 1.5;
}

.float-left {
    float: left;
}

.width-160 {
    width: 160px;
}

/* Specs & Elements */

ul {
    display: none;
    list-style-type: none;
    color: inherit;
    align-items: center;
}

li {
    display: flex;
    padding: 5px;
    cursor: pointer;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    border-radius: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.phone {
    width: 300px;
}

.planning-1 {
    width: 300px;
}

.planning-2 {
    width: 300px;
}

.testimonial {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-rel {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.quotes {
    position: absolute;
    color: #9792E4;
    left: 160px;
    top: 50px;
}

h1 {
    margin-bottom: 30px;
}

p {
    margin-bottom: 30px;
    line-height: 2;
    font-size: 15px;
    padding: 0 55px;
}

svg {
    fill: #0084FD;
    width: 70px;
    margin: 30px;
}

/* Responsiveness */

/* Tablet */
@media screen and (min-width: 768px) { Tablet

}

/* Desktop */
@media screen and (min-width: 1200px) {
    .menu i {
        display: none;
    }
    
    ul {
        display: flex;
    }
}